{% extends 'security.html.twig' %}


{% block body %}
    {{ form_start(form) }}
    <div class="box wide">
        <div class="header">
            <h1 class="title">
                <i class="fa fa-lock" aria-hidden="true"></i> {% block title %}{{ 'reset_password.form.title'|trans({}, 'Darkanakin41User') }}{% endblock %}
            </h1>
        </div>
        <div class="body">
            {{ form_errors(form) }}
            {{ form_row(form.password.first) }}
            {{ form_row(form.password.second) }}
        </div>
        <div class="footer">
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
