{% extends "@Darkanakin41User/Profile/profile.html.twig" %}

{% block content %}
    {{ 'account_delete.body'|trans({},'Darkanakin41User')|raw }}
    {{ form_start(form) }}
    <div class="button-group">
        {{ form_widget(form.delete) }}
        {{ form_widget(form.cancel) }}
    </div>
    {{ form_end(form) }}
{% endblock content %}
